/* style.css */
html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1{
	color: brown;
	font-style:inherit;
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.icecream {
	background-color: burlywood;
	background-repeat: no-repeat;
	background-size: cover
}

#recipe{
	color:brown;
	display: flex;
	justify-content: center;
	font-size: 30px;
}

p{
	font-size: 20px;
	color: chocolate;
}

.food{
	width: 10em;
	height: 10em;
	margin-left: 10pc;
	padding-right: 100px;
}

.image{
	border: 5px;
	border-style:ridge ;
	border-color:bisque;
	display: flex;
}

.info{
	display: flex;
	border: 4px solid #ffcc5c;
	padding:16px;
	font-size: 2em;
	color:black;
	border-color: bisque;
	justify-content: space-around;
	
}
.item{
	background: peachpuff;
	padding: 16px;
	border: 4px solid #ffcc5c;
	height: 48px;
	text-align: center;
	padding: 4px;
}

#subhead{
	font-size: 22px
}

.process{
	font-size: 20px;
}